/* Navbar styles */
.nav-bar {
  text-decoration: none; /* Remove text decoration */
}

.Navbar .me-auto a {
  margin: 0 10px; /* Equal margin on left and right */
  color: #fff; /* Change text color to white */
}

.Navbar .me-auto a:hover {
  color: #ccc; /* Change text color on hover */
}
.nav-bar {
  text-decoration: none;
}
* {
  text-decoration: none;
}
